nav {
    background-color: #333;
    display: flex;
    justify-content: flex-end;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  li {
    margin: 0;
    padding: 0;
  }
  
  a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #555;
  }
  
  /* Optional: To make the links align horizontally at the center */
  ul {
    justify-content: center;
  }
  